.top{
    background-color: white  ;
}
.blink, .it {
        display: inline-block;
        margin: 0;
        padding: 0;
        letter-spacing:0;

}
.logo{
    font-size: 0;
    letter-spacing: 0;
    
}